---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Message sent | Sabina Dercole">
	<section class="mx-auto max-w-2xl px-6 py-24 text-center">
		<h1 class="font-display text-4xl tracking-[0.1em] text-neutral-900 sm:text-5xl">
			Thank you!
		</h1>
		<p class="mt-8 text-neutral-500">
			Your message has been sent. I will get back to you as soon as possible.
		</p>
		<a
			href="/"
			class="mt-16 inline-block bg-coral px-12 py-3 text-sm font-medium tracking-[0.2em] text-white uppercase transition-colors hover:bg-tangerine"
		>
			Back to home
		</a>
	</section>
</Layout>
